@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EFEFEF; 
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Toastify__toast--success svg {
  fill: #7494ec !important; 
}

.Toastify__progress-bar--success {
  background-color: #7494ec !important; 
}
